body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    
}
ul{
    padding: 0;
    margin: 0;
}
a:hover {
    color: #ff4500;
    text-decoration: none;
}
.ta ul li{
    list-style-type: none;
    float: left;
    
    text-align: center;
}
.ab li{
    float: none;
}

.ab {
    float: none;
    background-color: #107bbd;
}

.menu ul li a{
    
    color: #f5f5f5;
    padding: 0px 30px 0px 18px;
    line-height: 47px;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    text-decoration: none;
    position: relative;
    font-size: 13px;
}

.detail img{
    width: 100% !important;
}
.menu ul li a i{
   color: white;
}
.menu{
    background-color: #107bbd;
    height: 47px;
    position: relative;
}
.logo-icon{
    font-size: 13px;
    margin-right: 6px;
}
.multipe-menu{
    font-size: 8px;
    margin-left: 6px;
}
.txt-search{
    width: 100%;
    padding: 5px 9px 4px 9px;
    outline: none;
}
.button-search button{
    width: 100%;
    background-color: #2F5BB7;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    height: 34px;
}
.search{
    margin: 20px 0px;
}

.content-main{
    border: 1px solid #ddd;
}
.content-main a:hover {
    color: #ff4500;
}
.content-main a {
    color: #383d41;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.infor-ar{
    font-size: 0.8em;
    padding: 10px 0;
    color: #6e6e6e;
}
.news{
    border-bottom: 1px solid #eee;
    padding: 15px 0px !important;
}
p{
    color: #333;
}
.include{
    padding:  0px !important;
}
.ar-right{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.ar-right a{
    color: #383d41;
}
.ar-right a:hover {
    color: #ff4500;
    text-decoration: none;
}
.title-right{
    font-size: 14px;
    margin-bottom: 10px;
    border-color: #41ade2;
    background-color: #41ade2;
    border-radius: 3px;
}
.title-right span{
    background-color: #41ade2;
    padding: 6px 12px 5px;
    color: #fff;
    display: inline-block;
    line-height: 17px;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
}
.main-breadcum a{
    padding: 0 7px;
    font-size: 14px;
    font-weight: normal;
}

.main-breadcum a:hover {
    color: #ff4500;
    text-decoration: none;
}
.main-breadcum{
    width: 100%;
    padding: 0px;
}
.title-ar-d h1{
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 5px;
}
.title-ar-d {
    padding: 0px !important;
}

.post-meta {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 7px 0;
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 10px;
}
.ar-relate h2{
    font-size: 20px;
    
}
.news-relative a{
    color: #383d41;
    font-size: 13px;
    line-height: 20px;
}
.news-relative a:hover {
    color: #ff4500;
    text-decoration: none;
}
.news-relative{
    margin: 10px 0px;
}
.input-txt{
    padding: 0px !important;
}
.po{
    position: relative;
}
.ab{
    /* position: absolute; */
    width: 100%;
    z-index: 6;
    display: none;
    border: none;
}
.ab li a{
    border-right: 0px solid rgba(0, 0, 0, 0.10) !important;
}
ul li {
    list-style-type: none;
}

ul li a{
    color: rgba(0,0,0,.87);
}
.po{
    position: relative;
}
@media only screen and (max-width: 768px) {
    .ta ul li{
        background: black;
        z-index: 20;
        list-style-type: none;
        float: none;
        text-align: left;
        position: relative;
    } 
    .ab li{
       background: red !important;
        
    }
    .closet{
        color: white;
    }
    .ta{
        padding: 0px !important;
    }
    .content-right{
        display: none;
    }
    .po{
        display: none;
    }
    .img-ar img{
        height: 204px;
    }
    .img-top img{
        width: 100px;
    }
    .news a{
        font-size: 18px !important;
    }
    .input-txt {
        padding-left: 10px !important;
    }
    .hide-desk{
        display: none;
    }
}

.main-footer .utilities {
    position: fixed;
    right: 33px;
    bottom: 34px;
    z-index: 9999;
}
.main-footer .utilities .cart {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 2px solid #fff;
    background-color: #333;
}
.main-footer .utilities .cart img {
    width: 32px;
    height: 32px;
}
.main-footer .utilities .cart {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border: 2px solid #fff;
    background-color: #333;
}
.main-footer .utilities .icon {
    transition: all .4s ease-in-out 0s;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.notfound{
    text-align: center;
    padding: 20px 0px 0px 0px;
}


@media only screen and (min-width: 768px) {
    .ar-right img{
        width: 90px;
        height: 60px;
        margin: 5px 0px;
        
    }
    .ab{
        position: absolute;
    }
    .closet{
        display: none;
    }
    .img-ar img{
        height: 178px;
    }
    .show-desk{
        display: none !important;
    }
}
.footer{
    padding: 0;
    background: #313131;
    text-align: center;
    color: #999;
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
    line-height: 200px;
}